 /******************************************************************
        * 功能模塊描述：创建共用于所有手机模块的样式，方便以后作业
        * ===================================================
        * 功能內容描述：创建共用于所有手机模块的样式
        * 聯繫方式：Jeason_zhang888@163.com      Tel:13641638693
        * 修改時間：
        * ===================================================
        *****************************************************************/
       *{
	       	margin: 0;
	       	padding: 0;
	       	box-sizing: border-box;
       }
       body{
       	background: #efefef;
       }
       div{
	       	width: 80%;
	       	margin: 0 auto;
	       	background: #666666;
	       	color:#fff;
	       	padding:1%;
       }
       input{
       		height:2rem;
       		line-height: 2rem;
       		padding-left: 0.3rem;  
       		margin: 0.2rem 0;    	
       	}
		
		h1{
			font-size: 1.5rem;
			font-weight: 700;
		}
		textarea{
			width: 100%;
			outline: none;
			font-size: 1.1rem;
			line-height: 1.5rem;
			text-indent: 1rem;
			resize: none;
			padding: 1%;
		}
		button{
			
			height: 2rem;
			line-height: 2rem;
			padding: 0 2rem;
			outline: none;
			border:1px  solid transparent;
			letter-spacing: 5px;
		}
